01 - Automação Estoque Crítico - Case 1.json
{
  "name": "Automação Estoque Crítico - Case 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "03235f0d-1e7a-423d-9e54-358e03859a05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KKMl3VC6AVaXOAKfW6FHGEGdCE8spBhioI0MGfatUk8/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1708067553,
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KKMl3VC6AVaXOAKfW6FHGEGdCE8spBhioI0MGfatUk8/edit#gid=1708067553"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "69611006-807b-471d-8dbf-e158b7bb6593",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qc16HAybnfjMd0eS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df4ec035-fdd0-4e2e-8147-48674830aa1c",
              "leftValue": "={{ $json.ESTOQUE_ATUAL }}",
              "rightValue": "={{ $json.ESTOQUE_MINIMO }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8b516681-a412-462e-8e17-35e4e59e8091",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "3fd3f749-944e-4725-a362-0263a1d35bb6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "luisapereirauff+testen8n@gmail.com",
        "subject": "Estoque em falta",
        "message": "Prezados, bom dia! Segue a planilha do dia com os itens com baixa no estoque. Atenciosamente, Luísa Pereira",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "df25281c-3d79-4192-9143-669eae10fe08",
      "name": "Send a message",
      "webhookId": "a4c7dfd4-0aa0-4e72-9242-c8e164064a0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "69gCIW8yrsAYJUmP",
          "name": "Gmail OAuth2 API - luisauff"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6d04a111-b2eb-4aa9-941c-20e4155471a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3cdbc88e10243619f2f949fb85714008afec0a1516de7adeb7cfc9377173741"
  },
  "id": "Ghm9hq1jLBfySofY",
  "tags": []
}